doctype 5
html(lang="de")
  head
    title RefugIO
    meta(name='viewport',content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet',href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
    link(rel='stylesheet',href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css')
    link(rel='stylesheet',href='/css/main.css')
  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button(type="button",data-toggle="collapse",data-target=".navbar-collapse").navbar-toggle
          span.icon-bar
          span.icon-bar
          span.icon-bar
      a(href="/").navbar-brand RefugIO
      .navbar-collapse.collapse
        ul.nav.navbar-nav
          li: a(href="/management") Manage Inventory
          li: a(href="/shopping") Shopping Experience
          li: a(href="/cart") Show Cart

    .container
      block content
    footer
    script(src='https://code.jquery.com/jquery.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')     
    script(src='/js/management.js')
    script(src='/js/shopping.js')