doctype 5
html(lang="de")
  head
    title RefugIO
    meta(name='viewport',content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet',href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
    link(rel='stylesheet',href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css')
    link(rel='stylesheet',href='/css/main.css')
  body

    .container
      block content
    footer
    script(src='https://code.jquery.com/jquery.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')     
    script(src='/js/main.js')
    script(src='/js/management.js')
    script(src='/js/shopping.js')