extend _layout.jade

block content
  .jumbotron
    h1 Willkommen bei Refug.IO
    p Was auch immer du brauchst, wir finden es für dich!
    p
      a.btn.btn-primary.btn-lg(href='#',role='button') Ich brauche
