extend _layout.jade

block content
  .background
    img(src='/images/map.png')
  .firstChoice
    p
      each pl, i in places
        img.btn.btn-primary.btn-lg(href=pl._id, role='button', src='/images/'+pl.name+'.png')= pl.name

    h2 Was auch immer du brauchst,<br>wir finden es für dich!