extend _layout.jade

block content
  .jumbotron
    h1 Willkommen bei Refug.IO
    p Was auch immer du brauchst, wir finden es für dich!
    p
      each pl, i in places
        a.btn.btn-primary.btn-lg(href=pl._id, role='button')= pl.name