extend _layout.jade

block content
  .hero-unit
    h1 Manage Inventory
    p 
      select(name="Types")
        option(value="") Choose
        option(value="bathroom") Bathroom
        option(value="clothing") Clothing
        option(value="food") Food
        option(value="other") Other


        .bathroom.hidden
          select(name="bathroom")
            option(value="") Choose
            option(value="Jacket") Food
            option(value="Clothing") Clothing
            option(value="Misc") Misc    

        .clothing.hidden
          select(name="clothing")
            option(value="") Choose
            option(value="Jacket") Food
            option(value="Clothing") Clothing
            option(value="Misc") Misc

        .food.hidden
          select(name="food")
            option(value="") Choose
            option(value="Jacket") Food
            option(value="Clothing") Clothing
            option(value="Misc") Misc

        .other.hidden
          select(name="misc")
            option(value="") Choose
            option(value="Jacket") Food
            option(value="Clothing") Clothing
            option(value="Misc") Misc

        .actions.hidden
          .glyphicon.glyphicon-plus-sign.action.btn(value="add")
          .glyphicon.glyphicon-minus-sign.action.btn(value="remove")
          .glyphicon.glyphicon-sort.action.btn(value="recount")
        
script(src='/js/management.js')
