extend _layout.jade

block content

  select
    option(value="Food") Food
    option(value="Clothing") Clothing
    option(value="Misc") Misc

  button(value="add") Add
  button(value="remove") Remove
  button(value="recount") Recount