extend _layout.jade

block content
  ul.list-group
    li.list-group-item
      img(src='/images/shower_demo.png')
      img(src='/images/shower_demo.png')
      img(src='/images/shower_demo.png')
      img(src='/images/shower_demo.png')
      img(src='/images/shower_demo.png')
      img(src='/images/shower_demo.png')
      img(src='/images/shower_demo.png')
      img(src='/images/shower_demo.png')
      img(src='/images/shower_demo.png')
      img(src='/images/shower_demo.png')
      img(src='/images/shower_demo.png')
      img(src='/images/shower_demo.png')
      img(src='/images/shower_demo.png')
      img(src='/images/shower_demo.png')
      img(src='/images/shower_demo.png')
      img(src='/images/shower_demo.png')
      img(src='/images/shower_demo.png')
    li.list-group-item
      img(src='/images/shower_demo.png')
    li.list-group-item
      img(src='/images/shower_demo.png')
    li.list-group-item
      img(src='/images/shower_demo.png')
    li.list-group-item
      img(src='/images/shower_demo.png')
    li.list-group-item
      img(src='/images/shower_demo.png')
    li.list-group-item
      img(src='/images/shower_demo.png')
    li.list-group-item
      img(src='/images/shower_demo.png')
    li.list-group-item
      img(src='/images/shower_demo.png')
    li.list-group-item
      img(src='/images/shower_demo.png')
    li.list-group-item
      img(src='/images/shower_demo.png')
    li.list-group-item
      img(src='/images/shower_demo.png')
