/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 70px;
  padding-bottom: 20px;
  background:rgba(0,0,0,0.15);
  overflow:hidden !important;
}



/* designer classes */
.counter {
  float:right;
  padding:0.5em;
  margin:0.5em;
}

.item {
  float:left;
}
.item span {
  display:none;
}
.cart {
position:fixed;
height:70px;
background:rgba(0,0,0,0.2);
top:0px;
right:0px;
left:0px;
margin:0;
display:inline-block;
border-bottom:3px solid rgba(0,0,0,0.5);
}
.collection {
  border:1px solid red;
  padding:10px;
}
.cart h2{
  margin-top:-0.5em;
  padding-bottom:1em;
}
.cart img {
  z-index:10;
}
.cart.list-group-item {
  padding:0px;
  margin:0px;
}

.cart.list-group-item img {  
float:right;
  width:32px !important;
  height:32px !important;
}

.background {
	position:absolute;
	top:-80px;
	bottom:0px;
 	width:60%;
  z-index:-1;
  margin-left:20%;
}
.startButton {
	margin:2em;
	opacity:0.5;
	cursor:pointer;
}
.startButton:hover {
	opacity:1;
}
.firstChoice {
	width:90%;
	height:100%;
	text-align:center;
}
.list-group-item{
	cursor:pointer;
	background:none !important;
  outline:transparent !important;
  border:transparent !important;
}

h2 {
	color:rgba(70,70,255,0.8);
	text-shadow: 2px 2px 4px rgba(255,255,255,0.9), -2px -2px 4px rgba(255,255,255,0.9), -2px 2px 4px rgba(255,255,255,0.9), 2px -2px 4px rgba(255,255,255,0.9) !important;
	font-weight:900;
}