/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 70px;
  padding-bottom: 20px;
}
span  {
  display: none;
}

li  {
  float: left;
}



/* helper classes */

.right {
	float:right;
}

.left {
	 float:left;
}

.center {
	text-align:center;
}

#cart {
position:fixed;
width:100%;
float:right;
height:64px;
background:rgba(0,0,0,0.2);
}